<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'CVPortal - ' + ${pageTitle}">CVPortal</title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>

<body>

<th:block th:fragment="scripts">
    <script th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
</th:block>
</body>
</html>